.industriesBody {
  background-color: $greybackground;
}

.industriesTitle {
  .quizEmbarkLogo {
    padding: 2% 2%;
  }
  .industriesTitle {
    margin-left: 10%;
  }
}

.industriesItem {
  height: 350px;
.industriesText {
  color: $charcoal;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  // font-family: 'Grand Hotel', cursive;
}
}
