.landingLeft {
  float: left;
  width: 78%;
}

.landingRight {
  float: right;
  width: 22%;
  height: 1100px;
  background-color: #2b303a;
}

.landingHero {
  clear: both;
  background-image: url("../images/heroImg1.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  border-bottom: 25px solid #5299d3;
  .landingHeroOverlay {
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    .landingHeroTitle {
      width: 45%;
      padding: 2% 2%;
      padding-left: 1%;
      padding-top: 25%;
      img {
        height: 70%;
        width: 80%;
        display: block;
        margin: 0 auto;
      }
      // .landingBlurb {
      //   text-align: center;
      //   margin-top: 0;
      //   font-size: 1.2rem;
      // }
    }
  }
}

.landingSummary {
  margin: 5% 10%;
  margin-bottom: 8%;
}

.landingFeatures {
  margin: 5% 10%;
  .landingFeatureItem {
    float: left;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7;
    .fa {
      // margin-left: 25%;
      display: block;
      text-align: center;
      margin-top: 7%;
      // color: #2b303a;
      color: #5299d3;
    }
    .fa-comments {
      // margin-left: 30%;
    }
    img {
      height: 63px;
      width: 63px;
      margin-left: 30%;
      margin-top: 5%;
    }
    .landingFeatureText {
      margin-top: 15%;
      font-size: 15px;
      text-align: left;
    }
  }
  .landingFeatureMiddle {
    margin-right: 11%;
    margin-left: 11%;
  }
}

.landingLogin {
  clear: both;
  p {
    text-align: center;
    color: white;
    font-size: 16px;
    a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f;
    }
  }
  .landingLoginForm {
    margin: 10% 10%;
    margin-top: 50%;
    text-align: center;
    h2 {
      color: white;
    }
    form {
      .name, .password {
        margin-top: 15%;
        padding: 10px 25px;
        width: 60%;
        border-radius: 5px;
        border-bottom: 5px solid #5299d3;
      }
      .loginButton {
        font-size: 15px;
        font-family: $font;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 25px;
        background-color: #ff5a5f;
        border: none;
        margin: 0 auto;
        margin-top: 28%;
      }
      .loginButton:hover {
        color: #ff5a5f;
        background-color: white;
      }
    }
  }
}

.landingRegister {
  display: none;
}
