$font: 'Montserrat', sans-serif;


.quizEmbarkLogo {
  height: 70px;
  padding: 3%;
  z-index: 2;
}

.quizBody {
  background-color: #ededed;
}

p {
  font-size: 17px;
}

.quizHero {
  clear: both;
  background: linear-gradient(
                     rgba(255,255,255, .2),
                     rgba(255,255,255, .2)),
                     url("../images/quizHeroImage.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
    .quizTitle {
      h1 {
      color: #2b303a;
      padding-left: 28%;
      }
      .quizBlurb {
        color: #2b303a;
        width: 80%;
        padding-left: 10%;
      }
    }
  }


.quizLeft {
  float: left;
  width: 73%;
  .quizLeftInstructions {
    background-color: #5299d3;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    p {
      color: white;
    }
  }
  .quizQuestions {
    font-size: 25px;

// ENTIRE QUIZ ITEM
    .quizItem {
      padding-left: 15%;
      input[type="radio"]{
        display: none;
    }
// YES AND NO BUTTONS
    .container {
      padding-left: 6.5%;
    }
    .container label {
      position: relative;
      }
      .container span::before,
      .container span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .container span.radio:hover {
        cursor: pointer;
      }
      .container span.radio::before {
        left: -52px;
        width: 45px;
        height: 25px;
        background-color: #2b303a;
        border-radius: 50px;
      }
      .container span.radio::after {
        left: -49px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6C788A;
        transition: left .25s, background-color .25s;
      }
      input[type="radio"]:checked + label span.radio::after {
        left: -27px;
        background-color: #5299d3;
      }
    }
    .q1 {
      display: block;
    }
    .q2 {
      display: none;
    }
    .q3 {
      display: none;
    }
    .q4 {
      display: none;
    }
    .q5 {
      display: none;
    }
    .q6 {
      display: none;
    }
    .q7 {
      display: none;
    }
  }
  .quizButton {
    font-size: 15px;
    font-family: $font;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    // background-color: #5299d3;
    background-color: #ff5a5f;
    border: none;
    margin-left: 14.5%;
    margin-top: 4%;
  }
  .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box;
  }
}

.quizRight {
  float: right;
  width: 27%;
  height: 720px;
  background-color: #2b303a;
  .quizRightInstructions {
    width: 70%;
    padding-top: 56%;
    margin-left: 7%;
    p{
      color: white;
    }
  }
  .nav {
    ul {
      li {
        float: left;
        list-style: none;
        padding: 2%;
        a {
          color: #5299D3;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
        }
        a:hover {
          color: white;
        }
      }
    }
  }
  select {
    width: 85%;
    margin-top: 2%;
    margin-left: 7%;
  }
  .quizButton {
    font-size: 15px;
    font-family: $font;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin-left: 8%;
    margin-top: 14.5%;
  }
  .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box;
  }
}
