.landingLeft {
  float: left;
  width: 78%; }

.landingRight {
  float: right;
  width: 22%;
  height: 1100px;
  background-color: #2b303a; }

.landingHero {
  clear: both;
  background-image: url("../images/heroImg1.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  border-bottom: 25px solid #5299d3; }
  .landingHero .landingHeroOverlay {
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
    .landingHero .landingHeroOverlay .landingHeroTitle {
      width: 45%;
      padding: 2% 2%;
      padding-left: 1%;
      padding-top: 25%; }
      .landingHero .landingHeroOverlay .landingHeroTitle img {
        height: 70%;
        width: 80%;
        display: block;
        margin: 0 auto; }

.landingSummary {
  margin: 5% 10%;
  margin-bottom: 8%; }

.landingFeatures {
  margin: 5% 10%; }
  .landingFeatures .landingFeatureItem {
    float: left;
    width: 20%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #f7f7f7; }
    .landingFeatures .landingFeatureItem .fa {
      display: block;
      text-align: center;
      margin-top: 7%;
      color: #5299d3; }
    .landingFeatures .landingFeatureItem img {
      height: 63px;
      width: 63px;
      margin-left: 30%;
      margin-top: 5%; }
    .landingFeatures .landingFeatureItem .landingFeatureText {
      margin-top: 15%;
      font-size: 15px;
      text-align: left; }
  .landingFeatures .landingFeatureMiddle {
    margin-right: 11%;
    margin-left: 11%; }

.landingLogin {
  clear: both; }
  .landingLogin p {
    text-align: center;
    color: white;
    font-size: 16px; }
    .landingLogin p a {
      text-decoration: none;
      font-weight: bolder;
      color: #ff5a5f; }
  .landingLogin .landingLoginForm {
    margin: 10% 10%;
    margin-top: 50%;
    text-align: center; }
    .landingLogin .landingLoginForm h2 {
      color: white; }
    .landingLogin .landingLoginForm form .name, .landingLogin .landingLoginForm form .password {
      margin-top: 15%;
      padding: 10px 25px;
      width: 60%;
      border-radius: 5px;
      border-bottom: 5px solid #5299d3; }
    .landingLogin .landingLoginForm form .loginButton {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 25px;
      background-color: #ff5a5f;
      border: none;
      margin: 0 auto;
      margin-top: 28%; }
    .landingLogin .landingLoginForm form .loginButton:hover {
      color: #ff5a5f;
      background-color: white; }

.landingRegister {
  display: none; }

.quizEmbarkLogo {
  height: 70px;
  padding: 3%;
  padding-top: 2%; }

.quizBody {
  background-color: #ededed; }

p {
  font-size: 17px; }

.quizHero {
  clear: both;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/quizHeroImage.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%; }
  .quizHero .quizTitle {
    padding: 0;
    margin: 0; }
    .quizHero .quizTitle h1 {
      color: #2b303a;
      padding: 0 8%;
      font-weight: 700;
      text-align: center;
      margin: 0; }
    .quizHero .quizTitle .quizBlurb {
      color: #2b303a;
      text-align: justify;
      padding: 0 8%; }

.quizLeft {
  float: left;
  width: 73%; }
  .quizLeft .quizLeftInstructions {
    background-color: #5299d3;
    padding: 1%; }
    .quizLeft .quizLeftInstructions p {
      color: white;
      text-align: center;
      font-size: 15px; }
  .quizLeft .quizQuestions {
    font-size: 25px;
    padding-left: 26.5%;
    padding-top: 2%; }
    .quizLeft .quizQuestions .quizItem {
      font-size: 20px; }
      .quizLeft .quizQuestions .quizItem .quizItemText {
        padding-left: 0;
        font-size: 30px;
        margin: 1%; }
      .quizLeft .quizQuestions .quizItem input[type="radio"] {
        display: none; }
      .quizLeft .quizQuestions .quizItem .container {
        padding-left: 8.5%;
        padding-top: 1%; }
      .quizLeft .quizQuestions .quizItem .container label {
        position: relative; }
      .quizLeft .quizQuestions .quizItem .container span::before,
      .quizLeft .quizQuestions .quizItem .container span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .quizLeft .quizQuestions .quizItem .container span.radio:hover {
        cursor: pointer; }
      .quizLeft .quizQuestions .quizItem .container span.radio::before {
        left: -52px;
        width: 45px;
        height: 25px;
        background-color: #2b303a;
        border-radius: 50px; }
      .quizLeft .quizQuestions .quizItem .container span.radio::after {
        left: -49px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #6C788A;
        transition: left .25s, background-color .25s; }
      .quizLeft .quizQuestions .quizItem input[type="radio"]:checked + label span.radio::after {
        left: -27px;
        background-color: #5299d3; }
    .quizLeft .quizQuestions .q1 {
      display: block; }
    .quizLeft .quizQuestions .q2 {
      display: none; }
    .quizLeft .quizQuestions .q3 {
      display: none; }
    .quizLeft .quizQuestions .q4 {
      display: none; }
    .quizLeft .quizQuestions .q5 {
      display: none; }
    .quizLeft .quizQuestions .q6 {
      display: none; }
    .quizLeft .quizQuestions .q7 {
      display: none; }
  .quizLeft .quizButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin-left: 43%;
    margin-top: 2%; }
  .quizLeft .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.quizRight {
  float: right;
  width: 27%;
  height: 720px;
  background-color: #2b303a; }
  .quizRight .quizRightInstructions {
    width: 70%;
    padding-top: 48%;
    padding-left: 15%; }
    .quizRight .quizRightInstructions p {
      color: white;
      text-align: justify; }
  .quizRight .nav ul li {
    float: right;
    padding-right: 14%;
    list-style: none; }
    .quizRight .nav ul li a {
      color: #FF5A5F;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      padding: .5%; }
    .quizRight .nav ul li a:hover {
      color: white; }
  .quizRight select {
    width: 70%;
    margin-top: 12%;
    margin-left: 16%; }
  .quizRight .quizChooseList select option {
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }
  .quizRight .quizButton {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ff5a5f;
    border: none;
    margin-left: 33%;
    margin-top: 22%; }
  .quizRight .quizButton:hover {
    background-color: #ffffff;
    color: #ff5a5f;
    box-sizing: border-box; }

.industriesBody {
  background-color: #EDEDED; }

.industriesTitle .quizEmbarkLogo {
  padding: 2% 2%; }
.industriesTitle .industriesTitle {
  margin-left: 10%; }

.industriesItem {
  height: 350px; }
  .industriesItem .industriesText {
    color: #2B303A;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; }

.dashboardBody {
  background-image: url("../images/dashboardHero3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.quizEmbarkLogo {
  padding: 2% 2%; }

.dashboardTitle {
  text-align: center;
  height: 150px; }

.dashboardTopLists {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center; }
  .dashboardTopLists .dashboardListItem {
    width: 350px;
    height: 230px;
    background-color: #2B303A;
    margin: 4px 20px; }
    .dashboardTopLists .dashboardListItem p {
      text-align: center;
      color: white; }

.dashboardInterfaceText {
  background-color: #5299D3; }
  .dashboardInterfaceText h2 {
    color: white;
    text-align: center;
    padding-top: 2%; }
  .dashboardInterfaceText .dashboardButtons {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%; }
  .dashboardInterfaceText .dashboardButtonsItem .dashboardButton {
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 25px;
    background-color: #ff5A5F;
    border: none;
    margin: 10%; }
  .dashboardInterfaceText .dashboardButtonsItem .dashboardButton:hover {
    background-color: #ffffff;
    color: #ff5A5F;
    box-sizing: border-box; }

/* GLOBAL PAGE STYLING*/
html, body {
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #2b303a;
  text-transform: uppercase; }

p, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2b303a; }

/*# sourceMappingURL=style.css.map */
